@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

:root{
    --fontPrincipal: 'Oswald', sans-serif;
    --fontSecundaria: 'Poppins', sans-serif;
    --corDestaques: #D92B4B;
    --corWhite: #F2F0D5;
    --cor01: #eb0417;
    --cor02: #F2A413;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 100px;
}


/* Presentation */
.presentation{
    display: grid;
    grid-template-rows: 1fr 3fr;
    min-height: 100vh;
    background: rgba(0, 0, 0, .7) url(../imgs/cr7Wallpaper.jpg); 
    background-blend-mode: darken;
    background-position: top center;
    background-size: cover;
    color: var(--corWhite);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fontSecundaria);
}

.header a{
    text-decoration: none;
}

.logo{
    margin-left: 30px;
}

.logo img{
    border-radius: 20px;
    width: 80px;
    padding: 10px;
}
.navegationBtns ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navegationBtns li a{
    text-transform: uppercase;
    padding: 10px 15px 7px 15px;
    position: relative;
    color: var(--corWhite);
    transition: all .5s ease;
}

.navegationBtns li{
    position: relative;
}

.navegationBtns li::before{
    position: absolute;
    left: 0;
    bottom: -7px;
    content: " ";
    width: 0;
    height: 3px;
    background-color: var(--corDestaques);
    transition: width .7s ease;
}

.navegationBtns li:hover::before{
    width: 100%;
}

.DevBtn{
    margin-right: 40px;
}

.DevBtn a{
    position: relative;
    font-weight: 600;
    color: var(--corDestaques);
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 3px 20px;
    border: 2px solid var(--corWhite);
    border-radius: 20px;
    z-index: 1;
}

.DevBtn a::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0;
    background-color: #F2F0D5;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 12px;
    transition: all .5s ease;
}

.DevBtn a:hover::before{
    width: 100%;
}

/* Banner message */
.bannerMessege{
    max-width: 660px;
    padding: 30px 20px 60px 60px;
    font-family: var(--fontPrincipal);
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 500;
}

.bannerMessege p{
    margin-bottom: 30px;
}

.spanColor{
    color: var(--corDestaques);
}

.spanColor:first-child{
    text-decoration: underline;
}

.spanSiuu{
    font-size: 2.5em;
    transform: scaleY(1.2);
    font-weight: 600;
    opacity: 0;
    animation: siuuAnimation 1s .75s ease forwards;
}

@keyframes siuuAnimation {
    from{
        opacity: 0;
        letter-spacing: -30px;
    }

    to{
        opacity: 1;
        letter-spacing: 15px;
        color: var(--corDestaques);
    }
}

/* History section */
.flex_conteiner{
    max-width: 1000px;
    margin: 0 auto;
}

#historia{
    min-height: 100vh;
    font-family: var(--fontPrincipal);
    background: linear-gradient(120deg, #0B0F0E, #141414);
}

.history_container{
    display: flex;
    align-items: center;
}

.textHistory{
    width: 60%;
    font-size: 1.3em;
    margin-right: 50px;
    color: rgb(218, 218, 218);
    margin-left: 20px;
}

.textHistory p {
    padding: 10px 5px;
    position: relative;
}

.textHistory p::before{
    position: absolute;
    content: " ";
    left: -20px;
    top: 22px;
    width: 20px;
    height: 5px;
    border-radius: 20px 0px;
    background-color: var(--corDestaques);
}

.textHistory h1, h2{
    margin-left: 20px;
}

.textHistory h1{
    position: relative;
    text-transform: uppercase;
}

.textHistory h1::before{
    content: " ";
    width: 30px;
    height: 4px;
    background-color: var(--corDestaques);
    position: absolute;
    bottom: 0;
}

.marking{
    color: var(--corDestaques);
}

.rightImages img{
    border-radius: 30px 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.822);
    transition: all .5s ease;
    border-bottom: 5px solid var(--corDestaques);
    border-right: 2px solid var(--corDestaques);
}


.img01{
    width: 200px;
    transform: translate(70px, -70px);
}

.img02{
    width: 200px;
    transform: translate(55px, 170px);
}

.img03{
    width: 220px;
    transform: translate(70px, 80px);
}

.img01:hover{
    transform: translate(70px, -75px);
}

.img02:hover{
    transform: translate(55px, 150px);
}

.img03:hover{
    transform: translate(70px, 60px);
}

/* Clubs section */
#clubes{
    min-height: 100vh;
    font-family: var(--fontPrincipal);
    background: url(../imgs/champions-banner.jpg) rgba(0, 0, 0, .6);
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
}

.clubes_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}

.clubes_container h1, h2{
    color: var(--corWhite);
    text-transform: uppercase;
}

.clubes_container h1{
    font-size: 2.3rem;
    letter-spacing: 3px;
}

.clubes_container h2{
    font-size: 1em;
    letter-spacing: 5px;
}

.teamContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 30px;
    height: 100%;
    padding-top: 80px;
}

.team{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.team:hover{
    border-bottom: 10px solid var(--cor01);
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.267);
}

.team:nth-child(2):hover{
    border-color: var(--cor02);
}

.team:nth-child(3):hover{
    border-color: var(--corWhite);
}

.team img{
    margin-bottom: 20px;
}

.team:first-child img{
    width: 120px;
}

.team:nth-child(2) img{
    width: 100px;
}

.team:nth-child(3) img{
    width: 85px;
    border-radius: 20px;
}

.team p{
    font-size: 1.09rem;
    font-weight: 300;
    color: var(--corWhite);
}

.teamMarking{
    color: var(--cor01);
}

.teamMarking2{
    color: var(--cor02);
}

/* Games section */
#game{
    font-family: var(--fontPrincipal);
    min-height: 100vh;
    background: linear-gradient(120deg, #0B0F0E, #141414);
    padding-top: 40px;
}

.container-game h1, h2{
    margin-left: 50px;
}

.container-game h1{
    color: var(--corWhite);
    text-transform: uppercase;
    font-size: 2.3em;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 10px;
}

.container-game h1::before{
    position: absolute;
    content: " ";
    left: 0;
    bottom: 0;
    width: 1em;
    height: 4px;
    background-color: var(--corDestaques);
}

.container-game h2{
    font-size: 1.1em;
    letter-spacing: 1px;
    position: relative;
}

.container-game h2::before{
    position: absolute;
    content: " ";
    left: -20px;
    top: 10px;
    width: 1em;
    height: 5px;
    border-radius: 20px 0px;
    background-color: var(--corDestaques);
}

.gamesContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    width: 100%;
}

.games{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.txtGame{
    color: var(--corWhite);
    max-width: 40%;
    font-size: 1.1em;
    padding-right: 20px;
    min-width: 300px;
}

.placar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    gap: 50px;
    border-bottom: 6px solid var(--corDestaques);
    border-right: 2px solid var(--corDestaques);
    border-radius: 0px 10px 30px 10px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.466);
    min-width: 300px;
    transition: transform .5s ease, box-shadow .5s ease;
}

.placar p {
    color: var(--corWhite);
    font-size: 1.8em;
    font-weight: 500;
    border-bottom: 3px solid var(--corDestaques);
}

.placar:hover{
    transform: translateY(-7px);
    box-shadow: 10px 10px 7px rgba(34, 34, 34, 0.466);
}

.games:nth-child(1) img:nth-child(1){
    width: 70px;
    border-radius: 20px;
}

.games:nth-child(2) img:nth-child(1){
    width: 80px;
}
