@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

:root{
    --fontPrincipal: 'Oswald', sans-serif;
    --fontSecundaria: 'Poppins', sans-serif;
    --corDestaques: #D92B4B;
    --corWhite: #F2F0D5;
    --cor01: #D90416;
    --cor02: #F2A413;
}


