@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

:root{
    --fontPrincipal: 'Oswald', sans-serif;
    --fontSecundaria: 'Poppins', sans-serif;
    --corDestaques: #D92B4B;
    --corWhite: #F2F0D5;
    --cor01: #D90416;
    --cor02: #F2A413;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 100px;
}


/* Presentation */
.presentation{
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    background: rgba(0, 0, 0, .7) url(../imgs/cr7Wallpaper.jpg); 
    background-blend-mode: darken;
    background-position: top center;
    background-size: cover;
    color: var(--corWhite);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fontSecundaria);
}

.header a{
    text-decoration: none;
}

.logo{
    margin-left: 30px;
}

.logo img{
    border-radius: 20px;
    width: 80px;
    padding: 10px;
}
.navegationBtns ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navegationBtns li a{
    text-transform: uppercase;
    padding: 10px 15px 7px 15px;
    position: relative;
    color: var(--corWhite);
    transition: all .5s ease;
}

.navegationBtns li{
    position: relative;
}

.navegationBtns li::before{
    position: absolute;
    left: 0;
    bottom: -7px;
    content: " ";
    width: 0;
    height: 3px;
    background-color: var(--corDestaques);
    transition: width .7s ease;
}

.navegationBtns li:hover::before{
    width: 100%;
}

.navegationBtns a:hover{
    letter-spacing: 1.5px;
}

.DevBtn{
    margin-right: 40px;
}

.DevBtn a{
    position: relative;
    font-weight: 600;
    color: var(--corDestaques);
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 5px 20px;
    border: 2px solid var(--corWhite);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.384);
    border-radius: 20px;
    z-index: 1;
}

.DevBtn a::before{
    position: absolute;
    content: " ";
    height: 100%;
    width: 0;
    background-color: #F2F0D5;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 12px;
    transition: all .5s ease;
}

.DevBtn a:hover::before{
    width: 100%;
}

/* Banner message */
.bannerMessege{
    max-width: 660px;
    padding: 30px 20px 60px 60px;
    font-family: var(--fontPrincipal);
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 500;
}

.bannerMessege p{
    margin-bottom: 30px;
}

.spanColor{
    color: var(--corDestaques);
}

.spanColor:first-child{
    text-decoration: underline;
}

.spanSiuu{
    font-size: 1.8em;
    font-weight: 600;
    transform: scaleY(1.8);
    animation: siuuAnimation 1.5s ease forwards;
}

@keyframes siuuAnimation {
    from{
        opacity: 0;
        letter-spacing: -30px;
    }

    to{
        opacity: 1;
        letter-spacing: 15px;
        color: var(--corDestaques);
    }
}

/* History section */
.flex_conteiner{
    max-width: 1000px;
    margin: 0 auto;
}

#historia{
    height: 100vh;
    font-family: var(--fontPrincipal);
}

.history_container{
    display: flex;
    width: 50%;
}

.textHistory{
    font-size: 1.3em;
}

.rightImages